body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.section {
  padding: 120px 0;
}
/* #region header */
.header-main {
  border-bottom: 1px solid #e7e9fc;
}
.header-main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-main nav {
  display: flex;
  gap: 76px;
  align-items: center;
}
.header-main .logo {
  margin-right: 76px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
}
.log {
  color: #2e2f42;
}

.nav-ul {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.nav-ul-a {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-ul-a:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.nav-ul-a:hover {
  color: #404bbf;
}
.nav-ul-a:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}
address ul {
  display: flex;
  gap: 40px;
}
.address-li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  display: block;
}

.address-li:hover {
  color: #404bbf;
}
.address-li:focus {
  color: #404bbf;
}
/* #endregion header */
/* #region hero */
.hero {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
}

.hero-h-main {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
}
.hero-button {
  min-width: 169px;
  display: block;
  height: 56px;
  margin: auto;
  margin-top: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}
/* #endregion hero */
/* #region feature */
.section container {
  display: flex;
  flex-direction: column;
}
.feature-main {
  margin-bottom: 72px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature ul {
  display: flex;
  gap: 24px;
}
.feature li {
  width: calc((100% - 72px) / 4);
}
.feature-strategy {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.feature-p {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
/* #endregion feature */
/* #region team */
.team {
  background-color: #f4f4fd;
  text-align: center;
}
.team-main {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team ul {
  display: flex;
  gap: 24px;
}
.team-text {
  padding: 32px 0;
}
.team-li {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-mark {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-product {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion team */
/* #region portfolio */
.portfolio-main {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  width: calc((100%-48px) / 3);
}
.card {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.portfolio-banking {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
}
.portfolio-app {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
}

.footer {
  background-color: #2e2f42;
}
.footer .logo {
  margin-bottom: 16px;
}
.footer-span {
  color: #f4f4fd;
  padding: 100px 0;
}

.footer-p {
  max-width: 264px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
footer .container {
  padding: 100px 0;
}
